<div class="container">
  <mat-card class="profile-card">
    <div class="rwo">
      <div class="col-md-12">
        <div class="first-div">
          <mat-icon>edit</mat-icon>
        </div>
      </div>
    </div>
    <div class="profile"></div>
    <div class="profile-details">
      <mat-card-title class="name">use_name</mat-card-title>
      <mat-card-subtitle class="email"
        >userab@silverskills.com</mat-card-subtitle
      >
    </div>

    <div class="icon-image">
      <img src="/assets/image/locked.png" alt="password-icon" />
      <img src="/assets/image/password-icon.png" alt=""/>
      <img src="/assets/image/location-marker.png" alt="location-marker"/>
    </div>

    <div class="account-actions">
      <div class="add-account">
        <mat-icon class="action-icon">person_outline</mat-icon>
        <span class="action-label">Add New Account</span>
      </div>
      <div class="logout">
        <mat-icon class="action-icon">exit_to_app</mat-icon>
        <span class="action-label">Sign out</span>
      </div>
    </div>

    <div class="foot">
      <span class="foot-text"> Privacy and policy</span>
      <span class="dot"></span>
      <span class="foot-text">Terms of services</span>
    </div>
  </mat-card>
</div>
