
::ng-deep.pass-code-input .mat-mdc-text-field-wrapper {
  width: 19% !important;
  height: 20% !important;
}
::ng-deep.username-field.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-top-left-radius: 0;
  border-top-right-radius: var(--mdc-shape-small, 12px) !important;
  border-bottom-right-radius: var(--mdc-shape-small, 12px) !important;
  border-bottom-left-radius: 0;
}
::ng-deep.username-field.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  border-top-left-radius: var(--mdc-shape-small, 12px) !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--mdc-shape-small, 12px) !important;
}

.container {
.row {
  .col-md-8 {
    &.offset-md-1 {
      .enter-code-heading {
        h5 {
          font-family: Roboto;
          font-weight: 500;
          letter-spacing: 1px;
          padding-top: 23px;
          font-size: 24px;
          color: #012d9e;
        }
      }

      .enter-code-text {
        p {
          color: #4E4E4E;;
          font-family: Roboto;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          width: 287px;
          line-height: 24px;
        }
      }

      section {
          .d-flex {
            justify-content: space-between;
            align-items: center;

            .resend-code-text {
              font-family: Roboto;
              font-size: 13px;
              font-weight: 400;
              letter-spacing: 0em;
              text-align: left;
              color: #4E4E4E;
              letter-spacing: inherit;

              .resend-code-link {
                color: #012d9e;
                cursor: pointer;
                font-size: 14px;
                line-height: 15px;
              }
              .resend-code-link-disabled {
                color: gray;
                pointer-events: none;
                font-size: 14px;
                line-height: 15px;
              }
            }
          }

          .text-center {
            .verify-button {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 16px;
              gap: 8px;
              width: 215px;
              height: 56px;
              background: #365FB5;
              border-radius: 8px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.mat-mdc-form-field-error{
 margin-top: -18px;
 margin-bottom: 5px;
  }
