<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <div class="enter-code-heading">
        <h5>Enter 4-digits code</h5>
      </div>

      <div class="enter-code-text">
        <p>Enter the 4-digit code that you received on your E-mail id.</p>
      </div>

      <section>
        <!-- <form  (ngSubmit)="Navigate()"> -->
          <div class="form-outline row">
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
          </div>          

          <div class="d-flex justify-content-between align-items-center">
            <div class="resend-code-text">
              if you didn't receive a code! <span [ngClass]="remainingTime !== 0 ? 'resend-code-link-disabled' : 'resend-code-link'" (click)="resendOtp()">Resend</span>
            </div>
          </div>

          <div>Remaing Time: {{ formatTime(remainingTime) }}</div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button mat-raised-button type="submit" class="btn-lg verify-button" (click)="otpVerify()">Verify</button>
          </div>
          <button mat-icon-button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
          </button>
        <!-- </form> -->
      </section>
    </div>
  </div>
</div>
