<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <div>
          <h5 class="forgot-password-heading">Forgot your password?</h5>
        </div>
        <div>
          <p class="forgot-password-text"> Enter your E-mail id for verification process,
            We will send 4-digits code to your mail id.</p>
        </div>
        <section>
          <form [formGroup]="ForgotPasswordForm" (ngSubmit)="navigate()">
            <div class="form-outline">
              <label class="form-label" for="userName">{{label.FORGOT_PASSWORD_LABEL}}</label><br>
              <mat-form-field appearance="outline" class="username-field">
                <input class="input" matInput type="text" id="userName"  formControlName="userName" placeholder="Type Value" />
                <!-- <mat-error *ngIf="form['username'].touched && form['username'].errors?.['required']"> Username is required</mat-error> -->
              </mat-form-field>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="back-to-login" (click)="navigateBack()">
                < Back to login</div>
              </div>
              <div class="text-center text-lg-start mt-4 pt-2">
                <button mat-raised-button type="submit" class="btn-lg">Continue</button>
              </div>
              <button mat-icon-button mat-dialog-close class="close-button">
                <mat-icon>close</mat-icon>
              </button>
          </form>
        </section>
      </div>
    </div>