
.preview-card{
  background:#F1F3F5 !important;

  mat-card-title{
    font-size: 16px !important;
    color:#012d9e !important;

  }

}

.mat-icon
{
  height: 16px !important;
  width: 16px !important;
  font-size: 16px !important;
}
.viewer-card-content{
 background: #F1F3F5 !important;

}
.action-button{
  background-color: #012D9E !important;
  color:#F1F3F5 !important;
  float:right
}

.action-button-div{
  display: block;
}
