<div class="container">
    <div class="row form-row">
      <div class="col-md-8 offset-md-1">
        <div class="reset-password-heading">
          <h4>Reset Password</h4>
        </div>
  
        <div class="reset-password-text">
          <p>Set a new password for your account. Your password should be different from previously used passwords.</p>
        </div>
  
        <section>
          <form class="reset-password-form" [formGroup]="ResetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-outline">
              <label class="form-label" for="newPassword">New Password</label><br>
              <mat-form-field appearance="outline">
                <input class="input" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="newPassword" id="newPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
  
            <div class="form-outline">
              <label class="form-label" for="confirmPassword">Confirm Password</label><br>
              <mat-form-field appearance="outline">
                <input class="input" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="confirmPassword" id="confirmPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button mat-raised-button type="submit" class="btn-lg submit-button" (click)="navigateToLogin()">Submit</button>
            </div>

            <button mat-icon-button mat-dialog-close class="close-button">
              <mat-icon>close</mat-icon>
            </button>
            
          </form>
        </section>
      </div>
    </div>
  </div>
  