<div class="container">
    <div class="row form-row">
      <div class="">
        <div class="reset-password-heading">
          <h4>Reset Password</h4>
        </div>
  
        <div class="reset-password-text">
          <p>Set the new password for your account so you can login and access all the features.
            Your password should be different from previously used password. </p>
        </div>
  
        <section>          
          <form class="reset-password-form" [formGroup]="ResetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="row resetheight">
            <div class="form-outline col-md-6" >
              <label class="form-label" for="newPassword">NEW PASSWORD</label><br>
              <mat-form-field appearance="outline">
                <input class="input" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="newPassword" id="newPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>

          </div>
          
          <div class="row">
            <div class="form-outline col-md-6">
              <label class="form-label" for="confirmPassword">CONFIRM PASSWORD</label><br>
              <mat-form-field appearance="outline">
                <input class="input" matInput [type]="hides ? 'password' : 'text'" placeholder="Password" formControlName="confirmPassword" id="confirmPassword">
                <button mat-icon-button matSuffix (click)="hides = !hides" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hides">
                  <mat-icon>{{hides ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-error class="errormsg" *ngIf="ResetPasswordForm.get('confirmPassword')?.dirty || ResetPasswordForm.get('confirmPassword')?.touched">
              <mat-error *ngIf="ResetPasswordForm?.hasError('passwordMismatch')">Passwords do not match.</mat-error>
              </mat-error>
            </div>
          </div>
  
            <div class="text-center text-lg-start mt-2 pt-2">
              <button mat-raised-button type="submit" class="btn-lg submit-button">Submit</button>
            </div>
            <div class="col-md-5 popupstyle" *ngIf="this.ResetPasswordForm.controls['newPassword'].hasError('pattern')">
              <mat-card>
                <mat-card-content>
                  Password must contain
                </mat-card-content>
                <ul>
                  <li>Minimum 6 characters.</li>
                  <li>At least one upper case </li>
                  <li>At least one special char(!#@$%*)</li>
                  <li>At least one number(0-9)</li>
                </ul>
              </mat-card>
            </div>

            <button mat-icon-button mat-dialog-close class="close-button">
              <mat-icon>close</mat-icon>
            </button>
                       
          </form>
        </section>
      </div>
    </div>
  </div>
  