.container {
    .form-row {
        padding: 30px;

                .reset-password-heading {
                    h4 {
                        font-family: Roboto;
                        font-size: 31mpx;
                        font-weight: 500;
                        letter-spacing: 1px;
                        text-align: left;
                        color: #012d9e;
                    }
                }

                .reset-password-text {
                    p {
                        color: #4E4E4E;
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 400;
                        letter-spacing: 0em;
                        width: 436px;
                        line-height: 28px;
                    }
                }

                section {
                    form.reset-password-form {
                        .form-outline {
                            label.form-label {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 41px !important;
                            }
                        }

                        .text-center {
                            .submit-button {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 16px;
                                gap: 8px;
                                width: 250px;
                                height: 56px;
                                background: #365FB5;
                                border-radius: 8px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .errormsg{
    margin-top: -20px;
  }
.popupstyle{
    position: absolute;
    top: 34%;
    right: 11px;
}
@media only screen and (max-width: 390px) {
    .reset-password-text {
        p{
        width: 220px !important;     
    } 
    }
  }
  