  <mat-sidenav opened mode="side" class="side-nav">
    <mat-nav-list class="nav-list">
      <mat-list-item class="nav-list-item" routerLink="/Overview">
        <img src="/assets/image/overview.png" class="nav-icon over-icon" alt="">
        <span class="nav-text over-convrt">Overview</span>
      </mat-list-item>
      <mat-list-item class="nav-list-item" routerLink="/converteddocuments">
        <img src="/assets/image/converted.png" class="nav-icon over-icon" alt="">
        <span class="nav-text over-convrt">Converted Documents</span>
      </mat-list-item>
      <mat-list-item class="nav-list-item" routerLink="/deleteddocuments">
        <mat-icon class="nav-icon">delete_outline</mat-icon>
        <span class="nav-text">Deleted Documents</span>
      </mat-list-item>
      <mat-list-item class="nav-list-item" routerLink="/faileddocument">
        <mat-icon class="nav-icon">highlight_off</mat-icon>
        <span class="nav-text">Failed Documents</span>
      </mat-list-item>
      <mat-list-item class="nav-list-item" routerLink="/signup">
        <mat-icon class="nav-icon">person_outline</mat-icon>
        <span class="nav-text">Create User</span>
      </mat-list-item>
      <mat-list-item class="nav-list-item" routerLink="/userlist">
        <mat-icon class="nav-icon">assignment</mat-icon>
        <span class="nav-text">User List</span>
      </mat-list-item>
      <mat-list-item class="nav-list-item" routerLink="/contact">
        <mat-icon class="nav-icon">settings</mat-icon>
        <span class="nav-text">Setting</span>
        <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
