<div class="landingpage">
<div class="hero-section">
<div class="header-container">
  <header class="header">
    <div class="header-left">
      <div class="logo">
        <img src="assets\image\landing-logo.png" alt="logo" />
      </div>
        <form>
      <div class="search-box">
          <mat-icon class="search-icon" >search</mat-icon>
        <input
          class="search-input"
          matInput
          placeholder="Search in this guide"
        />
      </div>
    </form>
    </div>

    <div class="menu">
      <ul>
        <li><a mat-button routerLink="Menu1">Menu1</a></li>
        <li><a mat-button routerLink="Menu2">Menu2</a></li>
        <li><a mat-button routerLink="Menu3">Menu3</a></li>
        <li><a mat-button routerLink="Menu3">Menu4</a></li>
        <div class="divider"></div>
          <li><a mat-button routerLink="Menu3">Login</a></li>
      </ul>
    </div>
  </header>
</div>

 <!--                          banner-section                       -->
                   
<div class="banner">
  <div class="banner-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="banner-content">
            <h2>
              Lorem Ipsum is simply dummy text of the printing and type setting
              print
            </h2>
            <p>
              Lorem Ipsum is simply dummy text of the <br />
              printing and typesetting
            </p>
            <button mat-button class="start-button">
              <span class="btn-text">Get Start</span>
              <span class="icon-container">
                <mat-icon class="mat-icons">chevron_right</mat-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <app-header></app-header> -->

<!-- <div class="text-center bg-light mb-5">
  <img src="../../../assets/images/landingpage.png" alt="" srcset="">
</div> -->
<!-- Image and OCR Description Start -->
<div>
    <div class="ocr-section">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
          <img src="assets/images/landingpageMan.png" class="img-fluid" />
        </div>
        <div class="mb-5 col-lg-6 col-md-12 col-sm-12">
          <p class="ocrtext">OCR</p>
          <p class="snaptext commontext">Oh snap! Spot text within images</p>
          <p class="text commontext">Automatically scan & recognize text within an image. Manually select <br>
            areas of an image for text recognition and turn individual or multiple
            <br>page ranges into editable PDFs
          </p>
          <div>
            <a href="#" class="btn btn-primary btn-lg" role="button">View more ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Image and OCR Description End -->
    <div class="feature-body-section">
      <div class="container feature-card-header">
        <div class="text-center">
          <p class="maintext">How to recognize text from image ?</p>
        </div>
        <div class="row feature-card-section">
    
          <!-- Step 1 Start-->
          <div class="col-md">
            <mat-card class="feature-card">
              <!-- <mat-card-header class="feature-step">STEP 1</mat-card-header> -->
              <h5 class="card-title position-relative text-center">
                <span class="position-absolute start-50 translate-middle-x step-title">STEP 1</span>
              </h5>
              <mat-card-header class="feature-content-section">
                <div mat-card-avatar></div>
                <mat-card-title class="feature-header-section" style="margin-left: -11px;">Upload images or PDFs</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="feature-card-body">
                  Select files from Computer, Google Drive, Dropbox, URL or by dragging it on the page
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- Step 1 End-->
    
          <!-- Step 2 Start-->
          <div class="col-md">
            <mat-card class="feature-card">
              <h5 class="card-title position-relative text-center">
                <span class="position-absolute start-50 translate-middle-x step-title">STEP 2</span>
              </h5>
              <mat-card-header class="feature-content-section">
                <div mat-card-avatar></div>
                <mat-card-title class="feature-header-section">Find a path & format</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="feature-card-body">
                  Select all languages used in your document. Also choose any desired output format, for example, .doc (more
                  than 10 text formats supported)
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- Step 2 End-->
    
          <!-- Step 3 Start-->
          <div class="col-md">
            <mat-card class="feature-card">
              <h5 class="card-title position-relative text-center">
                <span class="position-absolute start-50 translate-middle-x step-title">STEP 3</span>
              </h5>
              <mat-card-header class="feature-content-section">
                <div mat-card-avatar></div>
                <mat-card-title class="feature-header-section">Convert & download</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="feature-card-body">
                  Click the "Recognize" button and then download your file with the recognized text
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <app-footer></app-footer>

</div>

