
<div class="container-fluid footer">
  <div class="">
   <div class="container-fluid footer-top">
     <div class=" col-md-12 topfooter">
       <a class="logo" href="">
        <img src="assets/images/logo-footer.png" alt="">
        </a>
       <ul class="sociallinks">
        <li>
          <a href="">
              <img class="imagewd" src="assets/images/twitter.png" alt="" srcset="">
          </a>
      </li>
      <li>
          <a href="">
            <img class="imagewd" src="assets/images/camera.png" alt="" srcset="">
          </a>
      </li>
      <li>
          <a href="">
              <img class="imagewd" src="assets/images/facebook.png" alt="" srcset="">
          </a>
      </li>
      <li>
          <a href="">
              <img class="imagewd" src="assets/images/youtube.png" alt="" srcset="">
          </a>
      </li>
       
       </ul>
     </div>
   </div>
   <hr>
   <div class="row footer-map">
      <div class="col-md-2 footer-menu">
        <h3>Heading1</h3>
        <ul>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-menu">
        <h3>Heading1</h3>
        <ul>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-menu">
        <h3>Heading1</h3>
        <ul>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
          <li><a href="">menu1</a></li>
        </ul>
      </div>
     <div class="col-md-6 float-end">
       <img src="assets/images/map.png" alt="">
     </div>
   </div>
   <div  >
    <app-footer-bottom></app-footer-bottom>
   </div>
  </div>  
</div>
<!-- <app-footer-bottom></app-footer-bottom> -->
